<%= form_with(model: [@team, @player]) do |form| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% @player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label :level, class: "form-label" %>
    <%= form.text_field :level, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, options_for_select([
      ['Top Laner', 'top'],
      ['Jungle', 'jungle'],
      ['Middle', 'mid'],
      ['Bottom Laner', 'bot']
    ], form.object.role), {}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "form-submit" %>
  </div>
<% end %>